<div class="modal-header text-right" id="modal-privacy-policy-header">
  <a class="btn btn-link" ng-click="$close()">close</a>
</div>
<div class="modal-body">
  <div ng-include="'builder/terms/terms.privacy.html'"></div>
</div>
<div class="modal-footer">
  <div class="pull-right">
    <a ng-click="modal.openSellerTermsModal()" class="btn btn-default">Terms & Conditions</a>
    &nbsp;
    <a ee-scroll-to-top target="modal-privacy-policy-header" href class="btn btn-primary">Back to top</a>
  </div>
</div>
