<div class="modal-header" id="modal-header">
  <a class="btn btn-link pull-right" ng-click="$close()">close</a>
  <h3 class="modal-title">Submit feedback</h3>
</div>
<div class="modal-body">
  <form ng-submit="modal.submit()" ng-hide="modal.success">
    <div class="alert alert-info" ng-show='modal.alert' ng-bind="modal.alert"></div>
    <textarea ng-model="modal.message"
        class="form-control vert-5 max-width-100-pct margin-top-0"
        cols="30" rows="8"
        autofocus></textarea>
    <input type="text"
           ng-model="modal.name"
           placeholder="Name (optional)"
           class="form-control input-lg vert-10">
    <input type="email"
           ng-model="modal.email"
           placeholder="Email (optional)"
           class="form-control input-lg vert-10">
    <button class="btn btn-lg btn-primary btn-block"
            type="submit"
            ng-bind="modal.btnText"
            ng-disabled="modal.btnText != 'Submit'"></button>
  </form>
  <div ng-show="modal.success" class="alert alert-info">
    Feedback submitted. Thanks!
  </div>
</div>
