<!-- CATALOG products -->
<div id="catalog-products" class="margin-20 margin-top-0 text-center position-relative min-height-600" ng-hide="catalog.ee.loading">

  <div class="vert-20">
    <div ng-repeat="category in catalog.data.inputs.categoryArray"
         ng-click="catalog.fns.setCategory(category)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': category == catalog.data.inputs.category }">
      <span ng-show="category == catalog.data.inputs.category"><i class="fa fa-fw fa-times"></i></span>{{ category }}
    </div>
    <br>
    <div ng-repeat="range in catalog.data.inputs.rangeArray"
         ng-click="catalog.fns.setRange(range)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': range.min == catalog.data.inputs.range.min && range.max == catalog.data.inputs.range.max }">
      <span ng-show="range.min == catalog.data.inputs.range.min && range.max == catalog.data.inputs.range.max"><i class="fa fa-fw fa-times"></i></span>{{ range | rangeToText }}
    </div>
  </div>

  <div ng-show="catalog.data.searching" class="position-absolute top-left-bottom-right-0" style="z-index: 100;">
    <div class="position-absolute full-width full-height white-background opacity-08" style="z-index: 0;"></div>
    <h2 class="position-relative margin-20 pad-10">
      <i class="fa fa-fw fa-circle-o-notch fa-spin text-info"></i>&nbsp;Loading
    </h2>
  </div>

  <div ng-class="{ 'opacity-08': catalog.data.searching }">
    <span ng-repeat="product in catalog.data.products" class="position-relative">
      <a href ng-click="catalog.productFns.openProductModal(product.id)"
          class="thumb margin-2 hover-pointer gray-border"
          style="background-image: url('{{ product.image_meta.main_image.url | thumbnail }}')">
        <div ng-show="catalog.storeFns.inStorefront(product.id)" class="label label-primary">in <span class="hidden-xs">my </span>store</div>
      </a>
    </span>
  </div>

  <div ng-show="!catalog.data.searching && catalog.data.products.length <= 0">
    <div class="pad-20">No results found</div>
  </div>
</div>
<!-- /CATALOG products -->
