<div class="container-fluid text-center">
  <div class="inline-block full-width vert-10"></div>
  <h2 class="margin-0">Choose a theme</h2>
  <p>(you can edit it next)</p>
  <div class="max-width-600 margin-0-auto">
    <div class="row">
      <div ng-repeat="theme in landing.data.demoStores" ng-click="landing.setTheme(theme)" class="col col-sm-6">
        <div class="vert-10 hover-pointer gray-border hover-blue-border">
          <div class="inline-block full-width text-left pad-5"
               style="background-color: {{ theme.topBarBackgroundColor }}; color: {{ theme.topBarColor }};">
            &nbsp;{{ theme.name }}
          </div>
          <img ng-src="{{ theme.imgUrl | scaledDownBackground }}" class="full-width" />
        </div>
      </div>
    </div>
  </div>
  <div class="inline-block full-width vert-10"></div>
  <div class="inline-block max-width-300 margin-0-auto text-left">
    <i class="fa fa-2x fa-info-circle text-muted vert-2 pull-left"></i>
    <div style="margin-left: 30px;">
      When logged in, you can customize your store and upload your own images.
    </div>
  </div>
  <div class="inline-block full-width vert-50"></div>
</div>
