<div class="inline-block full-width pad-20 gray-background">
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-1">
      <div class="vert-10 ">
        <a href ng-click="landing.modalFns.openFAQModal()">FAQ</a>
        <br>
        <a href ng-click="landing.modalFns.openSellerTermsModal()">Terms & Conditions</a>
        <br>
        <a href ng-click="landing.modalFns.openPrivacyPolicyModal()">Privacy Policy</a>
      </div>
      <br>
    </div>
    <div class="col col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-1 text-muted">
      &copy;2015 eeosk, Inc.
    </div>
  </div>
</div>
