<!-- breadcrumb -->
<div style="background-color: #F5F5F5">
  <div class="container max-width-900">
    <ol class="breadcrumb margin-0">
      <li><a ui-sref="storefront" class="text-muted">Home</a></li>
      <!-- <li>
        <a ui-sref="collections" class="text-muted">Collections</a>
        &nbsp;&&nbsp;
        <span class="dropdown" uib-dropdown>
          <a href class="dropdown-toggle text-muted" uib-dropdown-toggle>Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="cat in category.ee.User.categories" ng-class="{ active: cat.id == category.id }">
              <a ui-sref="category({ id: cat.id, title: (cat.title | urlText) })" ng-bind="cat.title"></a>
            </li>
          </ul>
        </span>
      </li> -->
      <li class="active" ng-bind="category.title"></li>
    </ol>
  </div>
</div>
<!-- /breadcrumb -->

<div class="container max-width-900 vert-20">

  <div class="row">

    <h1 class="text-center font-weight-200 margin-top-0" ng-bind="category.title"></h1>

    <div class="col col-xs-12 position-inherit">

      <div ng-if="category.ee.Products.products.length > 0" class="text-center" ng-class="{ 'opacity-05': category.ee.Products.reading }">

        <div class="margin-10">
          <uib-pagination ng-if="category.ee.Products.count > category.ee.Products.inputs.perPage"
            total-items="category.ee.Products.count"
            items-per-page="category.ee.Products.inputs.perPage"
            ng-model="category.ee.Products.inputs.page"
            max-size="5"
            class="pagination-sm margin-0 vertical-align-top"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true"
            rotate="false"
            ng-change="category.update()">
          </uib-pagination>

          <div class="vert-5">
            <!-- sort order -->
            <span class="dropdown" uib-dropdown>
              <div class="btn btn-sm btn-default" ng-class="{ active: category.ee.Products.inputs.order.order }" uib-dropdown-toggle>
                <span ng-show="category.ee.Products.inputs.order.order" ng-bind="category.ee.Products.inputs.order.title"></span>
                <span ng-hide="category.ee.Products.inputs.order.order">Sort by</span>&nbsp;<i class="caret"></i>
              </div>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="order in category.ee.Products.inputs.orderArray" ng-class="{ active: category.ee.Products.inputs.order.order == order.order }">
                  <a href ng-bind="order.title" ng-click="category.setOrder(order)"></a>
                </li>
                <li ng-show="category.ee.Products.inputs.order.order" class="divider"></li>
                <li ng-show="category.ee.Products.inputs.order.order">
                  <a href ng-click="category.setOrder({})">Reset</a>
                </li>
              </ul>
            </span>
            <!-- /sort order -->
            <!-- price range -->
            <span class="dropdown" uib-dropdown>
              <div class="btn btn-sm btn-default" ng-class="{ active: category.ee.Products.inputs.range.min || category.ee.Products.inputs.range.max }" uib-dropdown-toggle>
                <span ng-show="category.ee.Products.inputs.range.min || category.ee.Products.inputs.range.max" ng-bind="category.ee.Products.inputs.range | rangeToText"></span>
                <span ng-hide="category.ee.Products.inputs.range.min || category.ee.Products.inputs.range.max">Set price range</span>&nbsp;<i class="caret"></i>
              </div>
              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="range in category.ee.Products.inputs.rangeArray" ng-class="{ active: category.ee.Products.inputs.range.min == range.min }">
                  <a href ng-bind="range | rangeToText" ng-click="category.setRange(range)"></a>
                </li>
                <li ng-show="category.ee.Products.inputs.range.min" class="divider"></li>
                <li ng-show="category.ee.Products.inputs.range.min">
                  <a href ng-click="category.setRange({})">Reset</a>
                </li>
              </ul>
            </span>
            <!-- /price range -->
          </div>

        </div>

        <div class="full-width text-center vert-20 overflow-hidden" ng-hide="category.ee.Products.reading">
          <div ng-repeat="product in category.ee.Products.products"
            class="product-repeater text-left inline-block vertical-align-top">
            <ee-product-for-store product="product"></ee-product-for-store>
          </div>
        </div>

        <div ng-hide="category.ee.Products.reading" class="pad-20 vert-20">
          <uib-pagination ng-if="category.ee.Products.count > category.ee.Products.inputs.perPage"
            total-items="category.ee.Products.count"
            items-per-page="category.ee.Products.inputs.perPage"
            ng-model="category.ee.Products.inputs.page"
            max-size="5"
            class="pagination-sm margin-0 vertical-align-top"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true"
            rotate="false"
            ng-change="category.update()">
          </uib-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="category.ee.Products.products.length <= 0"
  ng-hide="category.ee.Products.reading"
  class="container max-width-900 vert-20 text-center min-height-600">
  No results found
</div>

<ee-loading loading="category.ee.Products.reading" ee-min-height="600"></ee-loading>
