<div class="catalog-orders pad-20" ng-hide="orders.ee.loading" style="overflow-x: scroll">
  <h2 class="margin-0">Orders</h2>

  <div class="vert-20">
    <div ng-repeat="status in ['Pending Shipment', 'Shipped', 'Returned by Customer']"
         ng-click="orders.fns.setCategory(status)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': status == orders.data.inputs.category }">
      <span ng-show="status == orders.data.inputs.category"><i class="fa fa-fw fa-times"></i></span>{{ status }}
    </div>
    <br>
    <div ng-repeat="status in ['Pending Disbursement', 'Disbursed', 'Refunded to Customer']"
         ng-click="orders.fns.setRange(status)"
         class="btn btn-xs btn-default margin-2"
         ng-class="{ 'btn-primary': status == orders.data.inputs.status }">
      <span ng-show="status == orders.data.inputs.status"><i class="fa fa-fw fa-times"></i></span>{{ status }}
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Shipment</th>
        <th>Order #</th>
        <th colspan="2">Placed</th>
        <th colspan="2">Product</th>
        <th colspan="2">Price</th>
        <th colspan="2">Margin</th>
        <th colspan="2">Earn</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="orders.orders.length <= 0">
        <td colspan="11">
          No orders yet.
          <br>
          When you make a sale, the status of your customer orders will appear here.
        </td>
      </tr>
      <tr ng-repeat="order in orders.orders"
          ng-init="order.sellerPrice = order.baselinePrice / (1 - order.sellerMargin)">
        <td>
          <div ng-if="order.shipmentStatus == 'pending'" class="btn btn-sm btn-default">pending</div>
          <div ng-if="order.shipmentStatus == 'shipped'" class="btn btn-sm btn-success">shipped</div>
          <div ng-if="order.shipmentStatus == 'returned'" class="btn btn-sm btn-warning">returned</div>
          <div ng-if="order.shipmentStatus == 'out of stock'" class="btn btn-sm btn-warning">out of stock</div>
        </td>
        <td>{{ order.number }}</td>
        <td colspan="2">2 days ago</td>
        <td><img ng-src="{{ order.product_snapshot.image_meta.main_image.url | thumbnail }}" class="thumb-small"></td>
        <td>{{ order.title }}</td>
        <td>{{ order.sellerPrice | centToDollar }}</td>
        <td>&times;</td>
        <td>{{ order.sellerMargin * 100 }}%</td>
        <td>=</td>
        <td>{{ order.sellerPrice - order.baselinePrice | centToDollar }}</td>
        <td>
          <div ng-if="order.disbursementStatus == 'pending'" class="btn btn-sm btn-default">pending</div>
          <div ng-if="order.disbursementStatus == 'disbursed'" class="btn btn-sm btn-success">disbursed</div>
          <div ng-if="order.disbursementStatus == 'refunded'" class="btn btn-sm btn-warning">refunded</div>
          <div ng-if="order.disbursementStatus == 'out of stock'" class="btn btn-sm btn-warning">out of stock</div>
        </td>
      </tr>
    </tbody>
  </div>
</div>
