<div ng-show="storefront.ee.loading" class="section text-center" name="loading-navbar">
  <h2 class="font-weight-200">
    <i class="fa fa-fw fa-circle-o-notch fa-spin" ng-style="{ 'color': storefront.ee.meta.home.topBarBackgroundColor }"></i>&nbsp;Loading
  </h2>
</div>


<div class="featured" ng-hide="storefront.ee.loading">
  <div ng-show="storefront.ee.product_selection.length > 0" class="container-fluid">
    <div class="full-width pad-10"></div>
    <div class="row">
      <div class="col col-md-offset-1 col-xs-4 col-md-2 overflow-hidden">
        <h4 class="margin-0">Categories</h4>
        <hr>
        <ee-shop-nav ng-show="storefront" categories="storefront.ee.categories" class="nav nav-pills nav-stacked nav-compact"></ee-shop-nav>
      </div>
      <div class="col col-xs-8 position-inherit">
        <h4 class="margin-0">Featured</h4>
        <div class="full-width vert-20 overflow-hidden">
          <div ng-repeat="product in storefront.ee.product_selection | eeShopCategories:$state.params.category" class="product-container inline-block width-160 vertical-align-top">
            <ee-product-for-storefront product="product"></ee-product-for-storefront>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="isStore" ng-show="storefront.ee.product_selection.length <= 0" class="pad-10">
    <h2 class="full-width text-center">Coming soon</h2>
  </div>
</div> <!-- /featured -->
