<!-- Carousel -->
<div ng-if="storefront.ee.User.user.home_carousel.length > 0" class="container max-width-900">
  <div class="vert-10">
    <div class="margin-0-auto">
      <uib-carousel interval="5000" no-wrap="false" no-transition="false" class="margin-0">
        <uib-slide ng-repeat="collection in storefront.ee.User.user.home_carousel" active="collection.active">
          <a ui-sref="collection({ id: collection.id })">
            <img ng-src="{{ collection.banner }}" class="full-width gray-border" style="margin:auto;">
          </a>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>
<!-- /Carousel -->

<!-- Arranged -->
<div ng-if="storefront.ee.User.user.home_arranged.length > 0" class="container max-width-900 vert-20">
  <div ng-repeat="collection in storefront.ee.User.user.home_arranged">
    <ee-collection-for-store collection="collection"></ee-collection-for-store>
  </div>
</div>
<!-- /Arranged -->

<ee-empty-message
  ng-if="isStore && storefront.ee.User.user.home_carousel.length <= 0 && storefront.ee.User.user.home_arranged.length <= 0"
  ng-hide="storefront.ee.User.reading"
  main-message="Coming soon"
  sub-message="We're setting up our store, so please check back soon!">
</ee-empty-message>

<ee-loading loading="storefront.ee.User.reading" ee-min-height="600"></ee-loading>
