<div ng-if="storefront.ee.Collections.nav.carousel.length > 0" class="container">
  <div class="row vert-20 margin-bottom-0">
    <div class="col col-sm-2 hidden-xs">
      <h4 class="margin-5 margin-top-0">Collections</h4>
      <ee-collection-nav
        ng-show="storefront"
        collections="storefront.ee.Collections.nav.alphabetical"
        limit="10"
        class="nav nav-pills nav-stacked nav-compact">
      </ee-collection-nav>
      <br>
    </div>
    <div class="col col-sm-10">
      <div style="max-width: 800px; max-height: 470px;" class="margin-0-auto">
        <carousel interval="5000" no-wrap="noWrapSlides">
          <slide ng-repeat="collection in storefront.ee.Collections.nav.carousel" active="collection.active">
            <a ui-sref="collection({ id: collection.id, title: (collection.title | urlText) })">
              <img ng-src="{{ collection.banner }}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>{{ collection.headline || collection.title }}</h4>
              </div>
            </a>
          </slide>
        </carousel>
      </div>
      <div class="btn btn-default btn-lg btn-block visible-xs vert-20" ng-click="storefront.openCollectionsModal()">All collections</div>
    </div>
  </div>
</div>

<ee-empty-message
  ng-if="isBuilder && !storefront.ee.Collections.nav.reading && storefront.ee.Collections.nav.alphabetical.length <= 0"
  main-message="Start your store"
  btn-message="Add collections"
  btn-sref="collectionsAdd"
  sub-message="Get started by adding a few collections to your store!">
</ee-empty-message>

<ee-empty-message
  ng-if="isBuilder && !storefront.ee.Collections.nav.reading && storefront.ee.Collections.nav.alphabetical.length > 0 && storefront.ee.Collections.nav.carousel.length <= 0"
  main-message="Add to carousel"
  btn-message="Your collections"
  btn-sref="collections"
  sub-message="Add collections to your carousel and they will show up here.">
</ee-empty-message>

<ee-empty-message
  ng-if="isStore && !storefront.ee.Collections.reading && storefront.ee.Collections.collections.length <= 0"
  main-message="Coming soon"
  sub-message="We're setting up our store, so please check back soon!">
</ee-empty-message>
