<div class="modal-header pad-10" id="modal-header">
  <a class="close pad-5" ng-click="$close()">&times;</a>
  <h3 class="modal-title font-weight-200">Collections</h3>
</div>

<div class="modal-body">
  <div style="max-height: 350px; overflow-y: scroll;">
    <ee-collection-nav collections="collections" class="nav nav-pills nav-stacked nav-compact" ng-click="$close()"></ee-collection-nav>
  </div>

  <h2 ng-if="!collections || collections.length <= 0" class="font-weight-200">No collections</h2>
</div>
