<!-- <div ng-hide="collection.data.reading" class="container vert-20">

  <ol class="breadcrumb">
    <li><a ui-sref="storefront">Home</a></li>
    <li class="dropdown" uib-dropdown>
      <a href class="dropdown-toggle" uib-dropdown-toggle>Collections <span class="caret"></span></a>
      <ee-collection-nav collections="collection.ee.Collections.nav.alphabetical" class="dropdown-menu" uib-dropdown-menu></ee-collection-nav>
    </li>
    <li class="active" ng-bind="collection.data.collection.title"></li>
  </ol>

  <div class="row">

    <h1 class="text-center font-weight-200" ng-bind="collection.data.collection.title"></h1>

    <div class="col col-xs-12 position-inherit">

      <div ng-if="collection.data.products.length > 0" class="text-center">
        <div class="margin-10">
          <uib-pagination ng-if="collection.data.count > collection.data.perPage"
            total-items="collection.data.count"
            items-per-page="collection.data.perPage"
            ng-model="collection.data.page"
            max-size="5"
            class="pagination-sm margin-0 vertical-align-top"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true"
            rotate="false"
            ng-change="collection.update()">
          </uib-pagination>
        </div>

        <div class="full-width text-center vert-20 overflow-hidden">
          <div ng-repeat="product in collection.data.products" class="text-left inline-block vertical-align-top">
            <ee-product-for-store product="product"></ee-product-for-store>
            <br>
          </div>
        </div>

        <div class="pad-20 vert-20">
          <uib-pagination ng-if="collection.data.count > collection.data.perPage"
            total-items="collection.data.count"
            items-per-page="collection.data.perPage"
            ng-model="collection.data.page"
            max-size="5"
            class="pagination-sm margin-0 vertical-align-top"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true"
            rotate="false"
            ng-change="collection.update()">
          </uib-pagination>
        </div>
      </div>

      <div ng-if="collection.data.products.length <= 0">
        <h4 class="margin-5 font-weight-200">This collection is coming soon</h4>
      </div>

    </div>
  </div>

</div>

<ee-loading loading="collection.data.reading"></ee-loading> -->
