<div ng-if="search.ee.Products.products.length > 0" ng-hide="search.ee.Products.reading" class="container vert-20 text-center">

  <div class="margin-10">
    <uib-pagination ng-if="search.ee.Products.count > search.ee.Products.perPage"
      total-items="search.ee.Products.count"
      items-per-page="search.ee.Products.perPage"
      ng-model="search.ee.Products.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="search.update()">
    </uib-pagination>
  </div>

  <div class="full-width text-center vert-20 overflow-hidden">
    <div ng-repeat="product in search.ee.Products.products" class="text-left inline-block vertical-align-top">
      <ee-product-for-store product="product"></ee-product-for-store>
      <br>
    </div>
  </div>

  <div class="pad-20 vert-20">
    <uib-pagination ng-if="search.ee.Products.count > search.ee.Products.perPage"
      total-items="search.ee.Products.count"
      items-per-page="search.ee.Products.perPage"
      ng-model="search.ee.Products.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="search.update()">
    </uib-pagination>
  </div>
</div>

<div ng-if="search.ee.Products.products.length <= 0" class="container vert-20 text-center min-height-600">
  No results found
</div>

<ee-loading loading="search.ee.Products.reading"></ee-loading>
