<div class="position-absolute hover-white-color font-weight-200 text-shadow-dark-1" style="top: 15px; right: 20px; z-index: 2; color: #DDD; font-size: 12px;">
  Have an account? <a ui-sref="login" class="text-shadow-dark-1" style="color: #DDD;">Sign In</a>
</div>

<div class="full-width position-relative height-550"
    style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1433374294/books-desk.png') no-repeat center; background-size: cover;">
  <div class="is-eeosk">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h2 class="inline-block white-color margin-0">is</h2>
  </div>
  <div class="is-well text-center">
    <h1 class="vert-20 white-color">beautiful & customizable</h1>
  </div>
  <div ng-click="is.previous()" class="is-arrow-left hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-left"></i>
  </div>
  <div ng-click="is.next()" class="is-arrow-right hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-right"></i>
  </div>
</div>

<div class="section bg-info box-shadow">
  <div class="vert-20 margin-bottom-0 position-relative">
    <div class="inline-block margin-50 margin-bottom-0 max-width-600">
      <h1 class="font-weight-200 text-shadow-dark-1">
        Your store looks great on every device.
      </h1>
      <h3 class="font-weight-200 text-shadow-dark-1">
        Whether viewed on desktop, tablet, iPhone, Android, or Windows, your store will look great with built-in responsive design.
      </h3>
    </div>
    <div class="text-center">
      <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_1200/v1432949073/responsive_screens_rv9b2u.png" style="max-width: 80%;">
    </div>
  </div>
</div>

<div class="section white-background text-primary box-shadow text-center">
  <div class="container vert-100">
    <h1 class="font-weight-200">Tell your story.</h1>
    <h3 class="font-weight-200">Customize your About page to tell the world about your style and your passions.</h3>
  </div>
  <img src="https://res.cloudinary.com/eeosk/image/upload/c_crop,h_300,w_1200,y_180/v1433114437/markers.jpg" class="full-width" style="min-width: 800px;">
</div>

<div class="section text-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h2 class="font-weight-200 vert-100">
          Choose your design from dozens of high quality photos and color schemes
          <br>
          <br>
          (or create your own!)
        </h2>
      </div>
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432949868/themes.png" class="full-width" style="max-width: 400px;">
      </div>
    </div>
  </div>
</div>

<div class="section bg-success box-shadow">
  <div class="container inline-block">
    <div class="row vert-50">
      <div class="col-sm-offset-1 col-sm-5 text-center vert-50">
        <img src="https://res.cloudinary.com/eeosk/image/upload/v1432950181/color_picker.png" class="round-5">
      </div>
      <div class="col-sm-offset-1 col-sm-5">
        <h2 class="margin-top-0 font-weight-200 text-shadow-dark-1">Change your color scheme easily to keep your store looking fresh.</h2>
        <h3 class="font-weight-200">
          With just a couple of clicks, you can change the entire look of your store, instantly.
          <br>
          <br>
          Set it and forget it or change whenever you want. It's up to you.
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="section position-relative overflow-hidden" style="margin-bottom: -6px;">
  <div class="position-absolute top-left-bottom-right-0 filter-blur"
      style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432940995/woman_laptop_bed.jpg') no-repeat center; background-size: cover;">
  </div>
  <div class="row white-color">
    <div ng-click="is.next()" class="col-sm-6 text-center visible-xs position-relative pad-20">
      <h3 class="white-color font-weight-200 text-shadow-dark-4">Continue to page 4 of 4:</h3>
      <h1 class="vert-20 white-color font-48 font-family-shadows">eeosk is everything you need to start</h1>
    </div>
    <div class="col-sm-6 text-center vert-50">
      <div class="max-width-300 margin-0-auto">
        <h2 class="font-weight-200 vert-20 text-shadow-dark-4">Ready to get started?</h2>
        <p class="vert-20 text-shadow-dark-1">eeosk is free to use for as long as you want.</p>
        <form ng-submit="is.signup()">
          <h4 ng-bind="is.error" class="font-weight-200"></h4>
          <input type="email" ng-model="is.email" class="form-control vert-10 input-lg" placeholder="Email address" required>
          <button type="submit" ng-disabled="is.authExp.confirming" class="btn btn-lg btn-block btn-primary text-shadow-dark-1">Sign up for Free</button>
        </form>
      </div>
      <div class="inline-block full-width vert-50"></div>
    </div>
    <div ng-click="is.next()" class="col-sm-6 hidden-xs position-relative height-450 pad-50 hover-pointer hover-frost">
      <h2 class="white-color font-weight-200 text-shadow-dark-4">Continue the tour:</h2>
      <h1 class="vert-50 white-color font-48 font-family-shadows">eeosk is everything you need to start</h1>
      <div class="position-absolute white-color" style="top: 40px; right: 40px;">
        <i class="fa fa-5x fa-arrow-circle-o-right opacity-08"></i>
      </div>
    </div>
  </div>
  <div class="position-relative full-width text-center hidden-xs pad-10 white-color" style="background: rgba(0,0,0,0.3);">
    Page 3 of 4
  </div>
</div>
