<div class="position-absolute hover-white-color font-weight-200 text-shadow-dark-1" style="top: 15px; right: 20px; z-index: 2; color: #DDD; font-size: 12px;">
  Have an account? <a ui-sref="login" class="text-shadow-dark-1" style="color: #DDD;">Sign In</a>
</div>

<div class="full-width position-relative height-550"
    style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/v1432937171/woman_counter.jpg') no-repeat center; background-size: cover;">
  <div class="is-eeosk">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h2 class="inline-block white-color margin-0">is</h2>
  </div>
  <div class="is-well text-center">
    <h1 class="vert-20 white-color">easy to use</h1>
  </div>
  <div ng-click="is.previous()" class="is-arrow-left hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-left"></i>
  </div>
  <div ng-click="is.next()" class="is-arrow-right hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-right"></i>
  </div>
</div>

<div>
  <div class="section bg-primary box-shadow pad-50 text-center">
    <div class="vert-50">
      <h2 class="font-weight-200 text-shadow-dark-1">We handle inventory, shipping, and returns so you don't have to.</h2>
      <h3 class="font-weight-200 text-shadow-dark-1">Our suppliers ship directly to your customers, so you don't have to worry about storage, packing, shipping, or returns.  Everything is taken care of.</h3>
    </div>
  </div>
  <div class="section white-background box-shadow text-center">
    <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/c_crop,g_north,h_300,w_800/a_180/v1432945329/mail_package.jpg" class="full-width max-width-900">
  </div>
  <div class="section box-shadow text-center">
    <div class="container margin-0-auto">
      <div class="vert-50 margin-bottom-0">
        <h2 class="vert-5 font-weight-200 text-success">Adding products is simple with eeosk.</h2>
        <h3 class="font-weight-200 text-success">Simply browse our catalog and select the products you want to sell. They'll automatically show up in your store, ready for customers to purchase.</h3>
        <br>
        <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432947338/add_products.png">
      </div>
    </div>
  </div>
  <div class="section box-shadow bg-success text-center">
    <div class="container">
      <div class="row vert-100 margin-bottom-0">
        <div class="inline-block visible-xs text-center vert-50 margin-top-0 pad-10">
          <h2 class="margin-bottom-0 font-weight-200 text-shadow-dark-1">
            It just works.
          </h2>
          <h3 class="font-weight-200 text-shadow-dark-1">
            Your shopping cart and payment processing work right from the start.
            <br>
            <br>
            Your store accepts PayPal and all major credit cards without any special setup or extra work.
          </h3>
        </div>
        <div class="col-sm-5 text-right">
          <img src="https://res.cloudinary.com/eeosk/image/upload/v1433104858/shopping_cart.png" class="round-top pull-right">
        </div>
        <div class="col-sm-6 hidden-xs col-sm-offset-1 text-left">
          <h1 class="vert-100 margin-bottom-0 font-weight-200 text-shadow-dark-1">
            It just works.
          </h1>
          <h3 class="font-weight-200 text-shadow-dark-1">
            Your shopping cart and payment processing work right from the start.
            <br>
            <br>
            Your store accepts PayPal and all major credit cards without any special setup or extra work.
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="section box-shadow" style="background: #f2f2f5;">
    <div class="container">
      <div class="row vert-50">
        <div class="col-sm-6 pad-50">
          <h3>There's nothing to install and no coding required.</h3>
          <h3 class="font-weight-200">eeosk does all of the heavy lifting to host your website online so that you can focus on selling.</h3>
        </div>
        <div class="col-sm-6">
          <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/c_scale,l_eeosk_blue,w_140/v1432944051/floppy_disk.png" class="full-width max-width-400">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section position-relative overflow-hidden" style="margin-bottom: -6px;">
  <div class="position-absolute top-left-bottom-right-0 filter-blur"
      style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1433374294/books-desk.png') no-repeat center; background-size: cover;">
  </div>
  <div class="row white-color">
    <div ng-click="is.next()" class="col-sm-6 text-center visible-xs position-relative pad-20">
      <h3 class="white-color font-weight-200 text-shadow-dark-4">Continue to page 3 of 4:</h3>
      <h1 class="vert-20 white-color font-48 font-family-shadows">eeosk is beautiful & customizable</h1>
    </div>
    <div class="col-sm-6 text-center vert-50">
      <div class="max-width-300 margin-0-auto">
        <h2 class="font-weight-200 vert-20 text-shadow-dark-4">Ready to get started?</h2>
        <p class="vert-20 text-shadow-dark-1">eeosk is free to use for as long as you want.</p>
        <form ng-submit="is.signup()">
          <h4 ng-bind="is.error" class="font-weight-200"></h4>
          <input type="email" ng-model="is.email" class="form-control vert-10 input-lg" placeholder="Email address" required>
          <button type="submit" ng-disabled="is.authExp.confirming" class="btn btn-lg btn-block btn-primary text-shadow-dark-1">Sign up for Free</button>
        </form>
      </div>
      <div class="inline-block full-width vert-50"></div>
    </div>
    <div ng-click="is.next()" class="col-sm-6 hidden-xs position-relative height-450 pad-50 hover-pointer hover-frost">
      <h2 class="white-color font-weight-200 text-shadow-dark-4">Continue the tour:</h2>
      <h1 class="vert-50 white-color font-48 font-family-shadows">eeosk is beautiful & customizable</h1>
      <div class="position-absolute white-color" style="top: 40px; right: 40px;">
        <i class="fa fa-5x fa-arrow-circle-o-right opacity-08"></i>
      </div>
    </div>
  </div>
  <div class="position-relative full-width text-center hidden-xs pad-10 white-color" style="background: rgba(0,0,0,0.3);">
    Page 2 of 4
  </div>
</div>
