<div class="position-absolute hover-white-color font-weight-200 text-shadow-dark-1" style="top: 15px; right: 20px; z-index: 2; color: #DDD; font-size: 12px;">
  Have an account? <a ui-sref="login" class="text-shadow-dark-1" style="color: #DDD;">Sign In</a>
</div>

<div class="full-width position-relative height-550"
    style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432940995/woman_laptop_bed.jpg') no-repeat center; background-size: cover;">
  <div class="is-eeosk">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h2 class="inline-block white-color margin-0">is</h2>
  </div>
  <div class="is-well text-center">
    <h1 class="vert-10 white-color line-height-1">everything you need to start</h1>
  </div>
  <div ng-click="is.previous()" class="is-arrow-left hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-left"></i>
  </div>
  <div ng-click="is.next()" class="is-arrow-right hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-right"></i>
  </div>
</div>

<div class="section text-primary text-center vert-50">
  <div class="container">
    <h1 class="vert-20 font-weight-200">Thousands of products</h1>
    <h3 class="vert-50 margin-top-0 font-weight-200">
      With robust tools and an impressive home décor catalog, eeosk has everything you need to get started.
    </h3>
  </div>
  <img src="https://res.cloudinary.com/eeosk/image/upload/v1432586455/product_background.png">
</div>

<div class="section bg-primary">
  <div class="container vert-100 text-center">
    <h1 class="font-weight-200 text-shadow-dark-1">eeosk works immediately</h1>
    <h3 class="font-weight-200 text-shadow-dark-1">
      The first thing you'll notice is that you don't have to do any configuration to get your store up and running. It just works, right from the start.
    </h3>
  </div>
</div>

<div class="section gray-background box-shadow">
  <div class="container vert-50">
    <div class="row">
      <div class="col-sm-7">
        <h2 class="font-weight-200">Powerful SEO tools allow customers to find you on major search engines.</h2>
        <h3 class="font-weight-200">Start a store and watch your traffic grow. From custom h1 and meta tags to optimized product URLs, eeosk has your technology covered.</h2>
      </div>
      <div class="col-sm-5 text-center vert-50">
        <img src="https://res.cloudinary.com/eeosk/image/upload/v1433015526/search_engines.png">
      </div>
    </div>
  </div>
</div>

<div class="section vert-100 margin-bottom-0 text-center">
  <div class="position-relative margin-0-auto" style="width: 864px; height: 270px;">
    <div class="position-absolute text-success" style="max-width: 310px; left: 20px;">
      <h3 class="font-weight-200 vert-5">
        Whether you're on Tumblr, Wordpress, or another blogging tool, eeosk lets you
      </h3>
      <h1 class="font-weight-200 margin-0">Integrate your blog</h1>
    </div>
    <img src="https://res.cloudinary.com/eeosk/image/upload/v1433121962/purple_arrow.png" class="position-absolute" style="left: 172px; top: 145px;">
  </div>
  <div class="full-width text-center overflow-hidden" style="background-color: #4E018A; max-height: 50px;">
    <img src="https://res.cloudinary.com/eeosk/image/upload/v1433016071/purple_navbar.png">
  </div>
</div>

<div class="section text-center">
  <div class="position-relative margin-0-auto" style="width: 864px;">
    <img src="https://res.cloudinary.com/eeosk/image/upload/a_20/v1433121940/blue_arrow.png" class="position-absolute hidden-xs" style="top: -10px; left: 656px;">
  </div>
  <div class="vert-100 text-info">
    <h2 class="font-weight-200">Share and sell on social media</h2>
    <div class="vert-20">
      <i class="fa fa-fw fa-5x fa-facebook" style="color: #3B5998"></i>
      <i class="fa fa-fw fa-5x fa-pinterest" style="color: #CC2127"></i>
      <i class="fa fa-fw fa-5x fa-twitter" style="color: #55ACEE"></i>
      <i class="fa fa-fw fa-5x fa-instagram" style="color: #3F729B"></i>
    </div>
    <h3 class="font-weight-200 max-width-600 margin-0-auto">
      Spread the word about your store and engage with your audience about your curated home décor selection.
    </h3>
  </div>
</div>

<div class="section bg-success">
  <div class="container vert-100">
    <h1 class="font-weight-200 text-shadow-dark-1">Simple, SIMPLE, <span class="text-underline">SIMPLE</span></h1>
    <h3 class="font-weight-200 text-shadow-dark-1 inline-block vert-15">
      We strive to make the selling process as simple as possible: from creating your store to making the first sale and establishing ongoing success.
      <br>
      <br>
      We do this because we believe that with the right tools independent sellers do succeed.  And that's what we're all about.
    </h3>
  </div>
</div>

<div class="section position-relative overflow-hidden text-center" style="height: 700px; margin-bottom: -10px;">
  <div class="position-absolute top-left-bottom-right-0 filter-blur"
      style="background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432937236/woman_hand_smartphone.jpg') no-repeat center; background-size: cover;">
  </div>
  <div class="vert-100 pad-20 position-relative text-center white-color">
    <h1 class="vert-20 font-family-shadows font-64">Sign up with eeosk</h1>
    <h4 class="vert-20 inline-block font-weight-200 text-shadow-dark-1">eeosk is free to use for as long as you want.</h4>
    <div class="max-width-300 margin-0-auto">
      <form ng-submit="is.signup()">
        <h4 ng-bind="is.error" class="font-weight-200"></h4>
        <input type="email" ng-model="is.email" class="form-control vert-10 input-lg" placeholder="Email address" required>
        <button type="submit" ng-disabled="is.authExp.confirming" class="btn btn-lg btn-block btn-primary text-shadow-dark-1">Sign up for Free</button>
      </form>
    </div>
    <div class="section vert-20"></div>
    <h3 ng-click="is.next()" class="white-color hover-pointer font-weight-200 text-shadow-dark-1 vert-100">
      <span class="hover-underline">See the tour again</span>&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
    </h3>
  </div>
</div>
