<div class="position-absolute hover-white-color font-weight-200 text-shadow-dark-1" style="top: 15px; right: 20px; z-index: 2; color: #DDD; font-size: 12px;">
  Have an account? <a ui-sref="login" class="text-shadow-dark-1" style="color: #DDD;">Sign In</a>
</div>

<div class="full-width position-relative height-550"
    style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432937236/woman_hand_smartphone.jpg') no-repeat center; background-size: cover;">
  <div class="is-eeosk">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h2 class="inline-block white-color margin-0">is</h2>
  </div>
  <div class="is-well text-center">
    <h1 class="vert-20 white-color">your own business</h1>
  </div>
  <div ng-click="is.previous()" class="is-arrow-left hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-left"></i>
  </div>
  <div ng-click="is.next()" class="is-arrow-right hover-pointer hover-white-color transition-200 opacity-08">
    <i class="fa fa-5x fa-arrow-circle-o-right"></i>
  </div>
</div>

<div class="section text-center box-shadow">
  <div class="max-width-900 margin-0-auto text-info">
    <h1 class="font-weight-200 vert-50 pad-20 text-shrink-480">
      Earn money on your terms when you create your own store with inventory and pricing that you choose.<br>That's eeosk.
    </h1>
  </div>
</div>

<div class="section bg-info box-shadow">
  <div class="container">
    <div class="row vert-50 margin-bottom-0">
      <div class="col-sm-6 text-left">
        <h2 class="vert-20 margin-top-0 font-weight-200 text-shadow-dark-1">You're in control of what you sell and how much you earn.</h2>
        <h3 class="vert-5 font-weight-200 text-shadow-dark-1">
          Select the home décor items you love from the eeosk catalog. Add items to your store and they're ready for customers to purchase.
          <br>
          <br>
          You set the price for each item and decide whether to earn more or offer a bargain.  It's up to you.
        </h3>
      </div>
      <div class="col-sm-6 vert-50 margin-bottom-0">
        <img src="https://res.cloudinary.com/eeosk/image/upload/v1432937102/product_preview_wc6dbu.png" class="round-top">
      </div>
    </div>
  </div>
</div>

<div class="section text-center box-shadow">
  <div class="container vert-100">
    <h1 class="margin-0 font-weight-200 text-info">Your own website</h1>
    <h3 class="vert-20 font-weight-200 text-info">
      Selling on eeosk means you have your own online presence that <em>you</em> own.
      <br>
      <br>
      We give you the tools to create your online store in minutes. Set up your own website on your own domain and brand it however you want.</h3>
    <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432937790/stylishrustic.png" class="gray-border box-shadow round-5">
  </div>
</div>

<div class="section bg-success box-shadow pad-20">
  <div class="container">
    <div class="row vert-20">
      <div class="col-sm-4 text-center">
        <h4 class="inline-block vertical-align-middle text-shadow-dark-1"><i class="fa fa-5x fa-usd"></i></h4>
        <h1 class="inline-block vertical-align-middle text-shadow-dark-1"><i class="fa fa-5x fa-usd"></i></h1>
        <h4 class="inline-block vertical-align-middle text-shadow-dark-1"><i class="fa fa-5x fa-usd"></i></h4>
      </div>
      <div class="col-sm-8">
        <div class="pad-10">
          <h2 class="vert-20 font-weight-200 text-shadow-dark-1">Set your own price.</h2>
          <h3 class="vert-5 font-weight-200 text-shadow-dark-1">
            With eeosk, prices really are up to you, so you determine how much you earn with each sale. Not sure where to start? We provide recommended prices to get you started.
            <br>
            <br>
            It's your business, so you make the decisions.
          </h3>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="section">
  <div class="container">
    <div class="row vert-100 margin-bottom-0">
      <div class="col-sm-6">
        <h2 class="vert-10 font-weight-200">Zero setup cost, no fees</h2>
        <h3 class="vert-20 font-weight-200">
          eeosk makes money by supplying inventory, so you won't be surprised with any fees. There are no setup fees, seller fees, or final value fees.
          <br>
          <br>
          When you set a price, you'll see how much you will earn with a sale. When you sell that item, that's exactly how much money you'll receive. 
          <br>
          <br>
          eeosk is completely free to use.
          <br>
        </h3>
      </div>
      <div class="col-sm-6 text-center">
        <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,h_400/a_90/c_crop,g_north,h_600,w_400/v1432939335/one_dollar.jpg" class="gray-border box-shadow full-width max-width-400">
      </div>
    </div>
  </div>
</div>

<div class="section position-relative overflow-hidden" style="margin-bottom: -6px;">
  <div class="position-absolute top-left-bottom-right-0 filter-blur"
      style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/v1432937171/woman_counter.jpg') no-repeat center; background-size: cover;">
  </div>
  <div class="row white-color">
    <div ng-click="is.next()" class="col-sm-6 text-center visible-xs position-relative pad-20">
      <h3 class="white-color font-weight-200 text-shadow-dark-4">Continue to page 2 of 4:</h3>
      <h1 class="vert-20 white-color font-48 font-family-shadows">eeosk is easy to use</h1>
    </div>
    <div class="col-sm-6 text-center vert-50">
      <div class="max-width-300 margin-0-auto">
        <h2 class="font-weight-200 vert-20 text-shadow-dark-4">Ready to get started?</h2>
        <p class="vert-20 text-shadow-dark-1">eeosk is free to use for as long as you want.</p>
        <form ng-submit="is.signup()">
          <h4 ng-bind="is.error" class="font-weight-200"></h4>
          <input type="email" ng-model="is.email" class="form-control vert-10 input-lg" placeholder="Email address" required>
          <button type="submit" ng-disabled="is.authExp.confirming" class="btn btn-lg btn-block btn-primary text-shadow-dark-1">Sign up for Free</button>
        </form>
      </div>
      <div class="inline-block full-width vert-50"></div>
    </div>
    <div ng-click="is.next()" class="col-sm-6 hidden-xs position-relative height-450 pad-50 hover-pointer hover-frost">
      <h2 class="white-color font-weight-200 text-shadow-dark-4">Continue the tour:</h2>
      <h1 class="vert-50 white-color font-48 font-family-shadows">eeosk is easy to use</h1>
      <div class="position-absolute white-color" style="top: 40px; right: 40px;">
        <i class="fa fa-5x fa-arrow-circle-o-right opacity-08"></i>
      </div>
    </div>
  </div>
  <div class="position-relative full-width text-center hidden-xs pad-10 white-color" style="background: rgba(0,0,0,0.3);">
    Page 1 of 4
  </div>
</div>
