<div class="container vert-50">

  <div class="row margin-0">

    <div class="col col-sm-8">
      <h3 class="margin-0">Shopping cart</h3>

      <div class="row margin-0">
        <div class="col col-xs-2 col-sm-offset-6 col-xs-offset-7">
          <small>Price</small>
        </div>
        <div class="col col-xs-3">
          <small>Quantity</small>
        </div>
      </div>

      <hr class="margin-0">

      <div class="row margin-0" ng-repeat="pair in cart.ee.Cart.quantity_array">
        <div class="row margin-0" ng-repeat="sku in cart.ee.Cart.skus" ng-if="sku.id == pair.sku_id">
          <div class="vert-10">
            <div class="col col-sm-2 col-xs-3">
              <a ui-sref="product({ id: sku.product_id, title: (sku.product.title | urlText) })">
                <img ng-src="{{ sku.product.image | cloudinaryResizeTo:250:250 }}" class="full-width" />
              </a>
            </div>
            <div class="col col-xs-4">
              <a ui-sref="product({ id: sku.product_id, title: (sku.product.title | urlText) })">
                <h4 ng-bind="sku.product.title" class="margin-0 text-muted"></h4>
              </a>
              <h5 ng-bind="sku.selection_text" class="font-weight-200 margin-0 text-muted"></h5>
              <small class="text-success">In Stock</small>
              <br>
              <small><a href ng-click="cart.removeSku(sku.id)">Delete</a></small>
            </div>
            <div class="col col-xs-2">
              <span ng-if="sku.msrp && sku.msrp > sku.price">
                <s class="text-muted" ng-bind="sku.msrp | centToDollar"></s>
              </span>
              <strong ng-bind="sku.price | centToDollar"></strong>
              <div class="text-muted">
                <em>
                  <span ng-bind="(sku.shipping_price || 0) | centToDollar"></span>&nbsp;s/h
                </em>
              </div>
            </div>
            <div class="col col-sm-2 col-xs-3">
              <select class="form-control input-sm"
                ng-model="pair.quantity"
                ng-options="qty for qty in [1,2,3,4,5,6,7,8,9,10]"
                ng-change="cart.update()">
              </select>
            </div>
          </div>
        </div>
        <br style="clear: both;">
        <hr class="vert-5">
      </div>

      <div ng-if="!cart.ee.Cart.updating && cart.ee.Cart.skus.length == 0" class="alert alert-info vert-10">
        Cart is empty.&nbsp;&nbsp;<a ui-sref="storefront" class="btn btn-primary">Shop now</a>
      </div>
      <div ng-if="cart.ee.Cart.reading || cart.ee.Cart.updating">Loading...</div>
    </div>

    <div class="col col-sm-4">
      <div class="well white-background box-shadow" style="min-width: 225px;">

        <div ng-click="cart.buy()" class="btn btn-lg btn-primary btn-block" ng-disabled="cart.processing || cart.ee.Cart.updating || cart.skus.length < 1">
          Buy Now
        </div>
        <div class="vert-10 full-width text-center">
          <img class="width-40" src="//cdn.shopify.com/s/files/1/0269/1895/t/2/assets/cc-visa.png" alt="Visa">&nbsp;<img class="width-40" src="//cdn.shopify.com/s/files/1/0269/1895/t/2/assets/cc-mastercard.png" alt="Mastercard">&nbsp;<img class="width-40" src="//cdn.shopify.com/s/files/1/0269/1895/t/2/assets/cc-amex.png" alt="American Express">&nbsp;<img class="width-40" src="//cdn.shopify.com/s/files/1/0269/1895/t/2/assets/cc-discover.png" alt="Discover">
        </div>

        <h4>Order Summary</h4>
        <p class="margin-0">Items: <span class="pull-right" ng-bind="cart.ee.Cart.summary.cumulative_price | centToDollar"></span></p>
        <p class="margin-0">Shipping & handling: <span class="pull-right" ng-bind="cart.ee.Cart.summary.shipping_total | centToDollar"></span></p>
        <hr class="vert-5">
        <p class="margin-0">Total before tax: <span class="pull-right" ng-bind="cart.ee.Cart.summary.subtotal | centToDollar"></span></p>
        <p class="margin-0">Estimated tax: <span class="pull-right" ng-bind="cart.ee.Cart.summary.taxes_total | centToDollar"></span></p>
        <hr class="vert-5">
        <h4 class="margin-0">Order total: <span class="pull-right" ng-bind="cart.ee.Cart.summary.grand_total | centToDollar"></span></h4>
      </div>
    </div>

  </div> <!-- /row -->
</div>
