<!--
  shodwDropdown:  when true show dropdown
  search:         when true show search bar [deprecated]
  live:           when true show 'View store' button
  signin:         when true show sign in button
  transparent:    when true show transparent background with white logo and no box-shadow
  fixed:          when true fix navbar to top of page
  mainNav:        when true show the main navbar with playbook, collections, and orders
  playbookNav:    when true show the sub-navbar for playbook sections
  productsNav:    when true show the sub-navbar for products & collections
  editNav:        when true show the sub-navbar for edit [deprecated]
  orderNav:       when true show the sub-navbar for orders
  accountNav:     when true show the sub-navbar for account
  noShadow:       when true do not show box-shadow
//-->

<nav class="navbar ee-builder-navbar round-0" id="navbar-top"
    ng-class="{ 'navbar-transparent': transparent, 'border-bottom-gray': !noShadow && !transparent && !productsNav && !editNav && !orderNav && !createNav, 'navbar-fixed-top': fixed, 'navbar-absolute-top': !fixed }">
  <div class="container-fluid">

    <div class="row vert-7">
      <div class="col col-xs-4 col-sm-3">
        <a ui-sref="landing" id="logo" class="pull-left">
          <img ng-if="transparent" class="vert-5 width-120" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png"/>
          <img ng-if="!transparent" class="vert-5 width-120 hidden-xs" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png"/>
          <img ng-if="!transparent" class="vert-5 visible-xs" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_40,h_40,r_50/v1450205397/eeosk_e_200x200.jpg"/>
        </a>
        <!-- showDropdown -->
        <div ng-if="showDropdown" class="inline-block pad-10 pad-right-0" uib-dropdown>
          <div class="dropdown-toggle hover-pointer vert-2" uib-dropdown-toggle>
            <i class="fa fa-lg fa-align-justify text-info"></i><i class="fa fa-lg fa-caret-down text-info" style="margin-left: 5px;"></i>
          </div>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="products"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;Products</h4></a></li>
            <li><a ui-sref="edit"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;Edit Store</h4></a></li>
            <li><a ui-sref="orders"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
            <li><a ui-sref="account"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
            <li class="divider"></li>
            <li><a ui-sref="logout"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
          </ul>
        </div>
        <!-- /showDropdown -->
      </div>
      <!-- mainNav -->
      <div ng-if="mainNav" class="col col-xs-8 col-sm-7">
        <div class="btn-group btn-group-justified max-width-600 vert-2">
          <a ui-sref="daily" class="btn btn-default border-none pad-5 line-height-1" ng-class="{ active: btn1Active }" style="border-radius: 5px !important;">Your<br><small>Playbook</small></a>
          <a ui-sref="collections"    class="btn btn-default border-none pad-5 line-height-1" ng-class="{ active: btn2Active }" style="border-radius: 5px !important;">Product<br><small>Collections</small></a>
          <a ui-sref="orders"         class="btn btn-default border-none pad-5 line-height-1" ng-class="{ active: btn3Active }" style="border-radius: 5px !important;">Your<br><small>Orders</small></a>
        </div>
      </div>
      <!-- /mainNav -->
      <!-- signin: sign in button -->
      <div ng-if="signin" class="col col-xs-8 col-sm-9">
        <div class="vert-5 pull-right" role="form">
          <a ui-sref="login"
             class="btn btn-success"
             analytics-on
             analytics-category="user-management"
             analytics-event="signin">
            Sign in
          </a>
        </div>
      </div>
      <!-- /signin -->
      <!-- live button -->
      <div ng-if="live && ee.User.user" class="col col-xs-2 hidden-xs">
        <ee-builder-live-button
          class="vert-2 pull-right"
          user="ee.User.user"
          hidden-xs="true">
        </ee-builder-live-button>
      </div>
      <!-- /live button -->
    </div>
  </div>
</nav>

<style ng-if="ee.User.user.storefront_meta.brand.color">
  .ee-builder-subnav,
  .ee-builder-subnav .builder-subnav-btn {
    background-color: {{ ee.User.user.storefront_meta.brand.color.secondary }};
    color: {{ ee.User.user.storefront_meta.brand.color.tertiary }};
  }
  .ee-builder-subnav a.builder-subnav-btn {
    border-bottom: 5px solid {{ ee.User.user.storefront_meta.brand.color.tertiary }};
    color: {{ ee.User.user.storefront_meta.brand.color.tertiary }};
  }
</style>

<nav ng-if="playbookNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="daily">Daily<br><small>Action</small></a>
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="tracks">Marketing<br><small>Tracks</small></a> -->
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="brand">Your<br><small>Brand</small></a> -->
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="store">Store<br><small>Management</small></a> -->
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="start">Getting<br><small>Started</small></a>
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="updates">eeosk<br><small>Updates</small></a> -->
  </div>
</nav>

<nav ng-if="productsNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="collections">Your<br><small>Collections</small></a>
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="categories">Your<br><small>Categories</small></a> -->
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="products">Featured<br><small>Products</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="collectionsAdd">Add<br><small>Collections</small></a>
  </div>
</nav>

<nav ng-if="editNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="editdesign">Store<br><small>Design</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="edit.about">About<br><small>Section</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="edit.blog">Blog<br><small>Link</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="edit.social">Social<br><small>& Email</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="edit.seo">SEO<br><small>Settings</small></a>
  </div>
</nav>

<nav ng-if="orderNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="orders">Your<br><small>Orders</small></a>
  </div>
</nav>

<nav ng-if="accountNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ui-sref-active="active" ui-sref="account">Your<br><small>Account</small></a>
  </div>
</nav>
