<!--
  shodwDropdown:  when true show dropdown
  search:         when true show search bar
  live:           when true show 'View store' button
  signin:         when true show sign in button
  transparent:    when true show transparent background with white logo and no box-shadow
  fixed:          when true fix navbar to top of page
  productsNav:    when true show the sub-navbar for products & collections
  editNav:        when true show the sub-navbar for edit
  orderNav:       when true show the sub-navbar for orders
  noShadow:       when true do not show box-shadow
//-->

<nav class="navbar ee-builder-navbar round-0" id="navbar-top"
    ng-class="{ 'navbar-transparent': transparent, 'border-bottom-gray': !noShadow && !transparent && !productsNav && !editNav && !orderNav && !createNav, 'navbar-fixed-top': fixed, 'navbar-absolute-top': !fixed }">
  <div class="container-fluid">

    <div class="row vert-7">
      <div class="col col-xs-2">
        <a ui-sref="landing" id="logo">
          <img ng-if="transparent" class="vert-5 width-120" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png"/>
          <img ng-if="!transparent" class="vert-5 width-120 hidden-xs" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png"/>
          <!-- http://res.cloudinary.com/eeosk/image/upload/v1450205397/eeosk_e_200x200.png -->
          <img ng-if="!transparent" class="vert-5 visible-xs" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_40,h_40,r_50/v1450205397/eeosk_e_200x200.jpg"/>
        </a>
      </div>
      <div class="col col-xs-10 col-sm-8">
        <!-- showDropdown -->
        <div ng-if="showDropdown" class="pull-left vert-10" uib-dropdown>
          <div class="dropdown-toggle hover-pointer vert-2" uib-dropdown-toggle>
            <i class="fa fa-lg fa-align-justify text-info"></i><i class="fa fa-lg fa-caret-down text-info" style="margin-left: 5px;"></i>
          </div>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ui-sref="products"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;Products</h4></a></li>
            <li><a ui-sref="edit"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;Edit Store</h4></a></li>
            <li><a ui-sref="orders"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
            <li><a ui-sref="account"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
            <li class="divider"></li>
            <li><a ui-sref="logout"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
          </ul>
        </div>
        <!-- /showDropdown -->
        <!-- search bar -->
        <form ng-if="search" class="margin-0-auto" style="margin-left: 50px !important" ng-submit="runSearch()">
          <div ng-class="{ 'input-group input-group-lg': ee.Products.search.inputs.searchLabel }">
            <input type="text" ng-model="ee.Products.search.inputs.search" class="form-control input-lg" placeholder="Search products">
            <span ng-if="ee.Products.search.inputs.searchLabel" class="input-group-btn">
              <input type="submit" class="hidden"/>
              <button type="button" class="btn btn-default"
                  ng-if="ee.Products.search.inputs.searchLabel"
                  ng-click="productsFns.clearSearch()">
                <i class="fa fa-times text-muted"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /search bar -->
      </div>
      <div ng-if="signin" class="col col-xs-10">
        <!-- signin: sign in button -->
        <div class="vert-5 pull-right" role="form">
          <a ui-sref="login"
             class="btn btn-success"
             analytics-on
             analytics-category="user-management"
             analytics-event="signin">
            Sign in
          </a>
        </div>
        <!-- /signin -->
      </div>
      <div ng-if="live && ee.User.user" class="col col-xs-2 hidden-xs">
        <!-- live button -->
        <ee-builder-live-button
          class="pull-right"
          user="ee.User.user"
          hidden-xs="true">
        </ee-builder-live-button>
        <!-- /live button -->
      </div>
    </div>
  </div>
</nav>

<nav ng-if="productsNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center"
  ng-style="{ 'background-color': ee.User.user.storefront_meta.brand.color.secondary }">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="products">Your<br><small>Products</small></a>
    <!-- <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="categories">Your<br><small>Categories</small></a> -->
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="collections">Your<br><small>Collections</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="collectionsAdd">Add<br><small>Collections</small></a>
  </div>
</nav>

<nav ng-if="editNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center"
  ng-style="{ 'background-color': ee.User.user.storefront_meta.brand.color.secondary }">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="editdesign">Store<br><small>Design</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="edit.about">About<br><small>Section</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="edit.blog">Blog<br><small>Link</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="edit.social">Social<br><small>& Email</small></a>
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="edit.seo">SEO<br><small>Settings</small></a>
  </div>
</nav>

<nav ng-if="orderNav == 'true' && ee.User.user"
  class="navbar navbar-fixed-top ee-builder-subnav border-bottom-gray round-0 text-center"
  ng-style="{ 'background-color': ee.User.user.storefront_meta.brand.color.secondary }">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn vert-8 no-underline transition-200" ng-style="{ color: ee.User.user.storefront_meta.brand.color.tertiary, 'border-bottom': '5px solid ' + ee.User.user.storefront_meta.brand.color.tertiary }" ui-sref-active="active" ui-sref="orders">Your<br><small>Orders</small></a>
  </div>
</nav>
