<!--
  logo:           when true show logo
  dropdown:       when true show dropdown instead of logo
  home:           when true show home button instead of logo
  back:           when true show back button instead of logo
  signin:         when true show sign in button
  transparent:    when true show transparent background with white logo and no box-shadow
  fixed:          when true fix navbar to top of page
  storefront:     when true show buttons on storefront page
  product:        when true show buttons on product page
  productsNav:    when true show the sub-navbar for products & collections
  editNav:        when true show the sub-navbar for edit
  orderNav:       when true show the sub-navbar for orders
//-->

<nav class="navbar ee-builder-navbar round-0" id="navbar-top"
    ng-class="{ 'navbar-transparent': transparent, 'box-shadow': !transparent && !productsNav && !editNav && !orderNav, 'navbar-fixed-top': fixed, 'navbar-absolute-top': !fixed }">
  <div class="container-fluid">

    <div class="row vert-7">
      <div class="col col-xs-2">
        <a ui-sref="landing" id="logo">
          <img ng-if="transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png" class="vert-5 width-120"/>
          <img ng-if="!transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png" class="vert-5 width-120"/>
        </a>
      </div>
      <div class="col col-xs-8">
        <!-- search bar -->
        <form ng-if="search" class="margin-0-auto" ng-submit="runSearch()">
          <div class="input-group input-group-lg">
            <input type="text" ng-model="ee.Products.search.inputs.search" class="form-control input-lg" placeholder="Search products">
            <span ng-if="ee.Products.search.inputs.searchLabel" class="input-group-btn round-0">
              <input type="submit" class="hidden"/>
              <button class="btn btn-default round-0"
                  style="border-right: none; border-left: none;"
                  type="button"
                  ng-if="ee.Products.search.inputs.searchLabel"
                  ng-click="productsFns.clearSearch()">
                <i class="fa fa-times text-muted"></i>
              </button>
            </span>
            <div class="input-group-btn" dropdown>
              <div class="btn btn-default dropdown-toggle" dropdown-toggle>
                <i class="fa fa-align-justify text-info"></i><i class="fa fa-caret-down text-info" style="margin-left: 5px;"></i>
              </div>
              <ul class="dropdown-menu dropdown-menu-right" dropdown-menu>
                <li><a ui-sref="products"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;Products</h4></a></li>
                <li><a ui-sref="edit"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;Edit Store</h4></a></li>
                <li><a ui-sref="orders"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
                <li><a ui-sref="account"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
                <li class="divider"></li>
                <li><a ui-sref="logout"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
              </ul>
            </div>
          </div>
        </form>
        <!-- /search bar -->
      </div>
      <div class="col col-xs-2">
        <!-- signin: sign in button -->
        <div ng-if="signin" class="vert-5 pull-right" role="form">
          <a ui-sref="login"
             class="btn btn-success"
             analytics-on
             analytics-category="user-management"
             analytics-event="signin">
            Sign in
          </a>
        </div>
        <!-- /signin -->
        <!-- live button -->
        <ee-builder-live-button
          ng-if="live && ee.User.user"
          class="pull-right"
          user="ee.User.user"
          hidden-xs="true">
        </ee-builder-live-button>
        <!-- /live button -->
      </div>
    </div>


    <div class="margin-7" ng-if="false">

      <!-- LOGO -->
      <!-- normal logo -->
      <a ng-if="logo" ui-sref="landing" id="logo" class="pull-left">
        <img ng-show="transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png" class="width-120"/>
        <img ng-hide="transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png" class="width-120"/>
      </a> <!-- /normal logo -->

      <!-- dropdown: dropdown instead of logo -->
      <div ng-if="dropdown" id="dropdown" class="pull-left">
        <div class="inline-block position-relative" dropdown>
          <div class="hover-pointer" dropdown-toggle>
            <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png" class="width-120"/>
            <i class="caret"></i>
          </div>
          <ul class="dropdown-menu" style="top: 37px; left: -5px;">
            <li class="visible-xs">
              <ee-builder-live-button user="ee.User.user"></ee-builder-live-button>
            </li>
            <li class="visible-xs bg-info"><a ui-sref="products"><h4 class="vert-5 white-color"><i class="fa fa-fw fa-cubes"></i>&nbsp;&nbsp;Products</h4></a></li>
            <!-- <li class="visible-xs bg-primary"><a ui-sref="promotions"><h4 class="vert-5 white-color"><i class="fa fa-fw fa-bullhorn"></i>&nbsp;&nbsp;Promotions</h4></a></li> -->
            <li class="visible-xs bg-success"><a ui-sref="edit"><h4 class="vert-5 white-color"><i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp;Edit Store</h4></a></li>
            <!-- <li><a href ng-click="feedback()"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-comment-o"></i>&nbsp;&nbsp;Feedback</h4></a></li> -->
            <li><a ui-sref="orders"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
            <li><a ui-sref="account"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
            <li class="divider"></li>
            <li><a ui-sref="logout"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
          </ul>
        </div>
      </div> <!-- /dropdown -->

      <!-- signin: sign in button -->
      <div ng-if="signin" class="pull-right" role="form">
        <a ui-sref="login"
           class="btn btn-success"
           analytics-on
           analytics-category="user-management"
           analytics-event="signin">
          Sign in
        </a>
      </div> <!-- /signin -->

      <!-- storefront: buttons on storefront page -->
      <div ng-if="storefront" class="storefront-buttons hidden-xs">
        <div class="position-fixed text-center">
          <a ui-sref="products" class="btn btn-info">Products</a>&nbsp;
          <!-- <a ui-sref="promotions" class="btn btn-primary">Promotions</a>&nbsp; -->
          <a ui-sref="edit" class="btn btn-success">Edit Store</a>
        </div>
        <ee-builder-live-button user="ee.User.user"></ee-builder-live-button>
      </div> <!-- /storefront -->

      <!-- save: show save button -->
      <div ng-if="save">
        <div class="position-fixed" style="top: 7px; left: 67px;">
          <!-- <div ng-click="catalog()" class="btn btn-primary">Save</div> -->
          <ee-save></ee-save>
        </div>
      </div> <!-- /save -->

    </div>
  </div>
</nav>

<nav ng-if="productsNav == 'true'" class="navbar navbar-fixed-top ee-builder-subnav box-shadow round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn-info vert-8 no-underline" ui-sref-active="active" ui-sref="products">Your<br><small>Products</small></a>
    <!-- <a class="builder-subnav-btn-info vert-8 no-underline" ui-sref-active="active" ui-sref="categories">Your<br><small>Categories</small></a> -->
    <a class="builder-subnav-btn-info vert-8 no-underline" ui-sref-active="active" ui-sref="collections">Your<br><small>Collections</small></a>
    <a class="builder-subnav-btn-info vert-8 no-underline" ui-sref-active="active" ui-sref="collectionsAdd">Add<br><small>Collections</small></a>
  </div>
</nav>

<nav ng-if="editNav == 'true'" class="navbar navbar-fixed-top ee-builder-subnav box-shadow round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.topbar">Top Bar<br><small>Navigation</small></a>
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.about">About<br><small>Section</small></a>
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.blog">Blog<br><small>Link</small></a>
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.social">Social<br><small>& Email</small></a>
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.seo">SEO<br><small>Settings</small></a>
  </div>
</nav>

<nav ng-if="orderNav == 'true'" class="navbar navbar-fixed-top ee-builder-subnav box-shadow round-0 text-center">
  <div class="max-width-600 margin-0-auto pad-2 position-relative">
    <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="orders">Your<br><small>Orders</small></a>
    <!-- <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.about">About<br><small>Section</small></a> -->
    <!-- <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.blog">Blog<br><small>Link</small></a> -->
    <!-- <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.social">Social<br><small>& Email</small></a> -->
    <!-- <a class="builder-subnav-btn-success vert-8 no-underline" ui-sref-active="active" ui-sref="edit.seo">SEO<br><small>Settings</small></a> -->
  </div>
</nav>
