<div class="well white-background box-shadow text-left" ng-hide="collection.removed">

  <!-- COMPACT -->
  <div class="row" ng-show="!expanded">
    <div class="col col-sm-8">
      <div class="media">
        <div class="media-left hover-pointer" ng-click="expand()">
          <a href>
            <img class="media-object max-width-300" ng-src="{{ collection.banner | collectionThumbnail }}" style="max-height: 180px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading margin-top-0 font-weight-200 hover-pointer" ng-click="expand()">
            <a href>{{ collection.title || 'Untitled' }} <i class="fa fa-fw fa-pencil"></i></a>
          </h4>
          <h3 class="media-heading margin-top-0 font-weight-200 hover-pointer" ng-click="expand()" ng-bind="collection.headline"></h3>
          <a ui-sref="collectionTemplates({ id: collection.id })" class="btn btn-default vert-5">Edit products</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-4 text-right">
      <div ng-if="collection.in_carousel && collection.title && collection.banner.indexOf('placehold') < 0" class="btn btn-info" ng-click="removeFromCarousel()" ng-disabled="save_status == 'Saving'"><i class="fa fa-times"></i>&nbsp;&nbsp;In Carousel</div>
      <div ng-if="!collection.in_carousel || !collection.title || collection.banner.indexOf('placehold') > 0" class="btn btn-default" ng-click="addToCarousel()" ng-disabled="save_status == 'Saving' || !collection.title || collection.banner.indexOf('placehold') > 0">Add to Carousel</div>
      &nbsp;
      <div ng-click="deleteCollection()" ng-disabled="save_status == 'Removing'" class="btn btn-default"><i class="fa fa-trash"></i></div>
    </div>
  </div>
  <!-- COMPACT -->

  <!-- EDITOR CARD -->
  <div class="row" ng-show="expanded">
    <div class="col col-sm-6">
      <img ng-src="{{ collection.banner }}" class="full-width gray-border" ng-hide="collection.banner.indexOf('placehold.it') > -1"/>
      <ee-cloudinary-upload meta="collection" attr-target="'collection'"></ee-cloudinary-upload>
      Upload a carousel image (800x470px)
    </div>
    <div class="col col-sm-6">
      <form class="form-horizontal text-left" ng-submit="updateCollection()">
        <!-- Save -->
        <div class="form-group vert-5">
          <div class="col-sm-offset-3 col-sm-10">
            <button class="btn btn-default" type="submit" ng-disabled="save_status == 'Saving'" ng-class="{ 'btn-success': saved != true }">
              <i class="fa fa-fw fa-save"></i>&nbsp;{{ save_status }}
            </button>
          </div>
        </div>
        <!-- /Save -->
        <!-- Title -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Title</label>
          <div class="col-sm-9">
            <input type="text" ng-model="collection.title" class="form-control max-width-200" placeholder="Collection title">
            <small>This is what shows in links. Removing this will hide the collection.</small>
          </div>
        </div>
        <!-- /Title -->
        <!-- Headline -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200 pad-top-0" style="line-height: 16px">Carousel headline</label>
          <div class="col-sm-9">
            <input type="text" ng-model="collection.headline" class="form-control" placeholder="Text shown with image (optional)">
            <small>This shows below the image in the carousel</small>
          </div>
        </div>
        <!-- /Headline -->
      </form>
    </div>
  </div>
  <!-- /EDITOR CARD -->

</div>
