<div class="well white-background box-shadow">

  <!-- COMPACT -->
  <div class="row">
    <div class="col col-sm-8" ng-click="getProducts()">
      <div class="media">
        <div class="media-left hover-pointer">
          <a href>
            <img class="media-object max-width-300 gray-border" ng-src="{{ collection.banner | collectionThumbnail }}" style="max-height: 180px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading margin-top-0 font-weight-200 hover-pointer">
            <a href>{{ collection.title || 'Untitled' }}</a>
          </h4>
          <h3 class="media-heading margin-top-0 font-weight-200 hover-pointer" ng-bind="collection.headline"></h3>
          <div class="btn btn-default vert-5" ng-disabled="collection.products.length > 0 || collection.reading">View products</div>
        </div>
      </div>
    </div>
    <div class="col col-sm-4 text-right">
      <div ng-if="collection.added" class="btn btn-success" ng-click="removeFromStore()" ng-disabled="save_status == 'Adding'"><i class="fa fa-check"></i>&nbsp;&nbsp;Added</div>
      <div ng-if="!collection.added" class="btn btn-default" ng-click="cloneCollection()" ng-disabled="save_status == 'Adding'">Add to Store</div>
    </div>
  </div>
  <!-- COMPACT -->

  <div class="row vert-10 products-row" ng-if="collection.products.length > 0">
    <div class="pad-10">
      <h3 class="font-weight-200 margin-0 text-info">Products in {{ collection.title }}</h3>
      <div class="text-muted">Edit or add/remove products once you add this collection to your store.</div>
    </div>
    <div class="full-width text-center">
      <ee-product-for-builder ng-repeat="product in collection.products" product="product" hide-buttons="true"></ee-product-for-builder>
    </div>
    <div class="pad-20 max-width-600 margin-0-auto">
      <div ng-if="collection.added" class="btn btn-success btn-lg btn-block" ng-click="removeFromStore()" ng-disabled="save_status == 'Adding'"><i class="fa fa-check"></i>&nbsp;&nbsp;Added</div>
      <div ng-if="!collection.added" class="btn btn-default btn-lg btn-block" ng-click="cloneCollection()" ng-disabled="save_status == 'Adding'">
        Add <span class="hidden-xs">the collection '{{ collection.title }}' </span>to your store
      </div>
    </div>
  </div>

  <div class="row vert-10 products-row" ng-if="collection.reading && collection.products.length < 1">
    <ee-loading loading="collection.reading"></ee-loading>
  </div>

</div> <!-- /well -->
