<div>
  <div ng-repeat="row in rows"
    ng-style="{ 'margin-left': '' + row.offset*dabWidth +'px', height: '' + dabHeight - dabVertical + 'px', 'min-width': '' + 13*dabWidth + 'px' }">
    <div ng-repeat="color in row.colors"
      ng-click="selectColor(color)"
      style="display: inline-block; position: relative; cursor: pointer;"
      ng-style="{ 'box-shadow': color == dabModel ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none', 'z-index': color == dabModel ? 3 : 2, 'background-color': color, height: '' + dabHeight + 'px', width: '' + dabWidth + 'px', 'border-radius': '' + dabRadius + '%', transform: 'rotate(' + dabRotate + 'deg)', 'margin-top': '' + dabTop + 'px' }">
    </div>
  </div>
</div>
