<!--
  signin:      when true show sign in button
  storefront:  when true show buttons on storefront page
  product:     when true show buttons on product page
  selection:   when true show buttons on selection page
  edit:        when true show buttons on edit page
  dropdown:    when true show dropdown instead of logo
  back:        when true show back button instead of logo
  transparent: when true show transparent background with white logo and no box-shadow
  fixed:       when true fix navbar to top of page
//-->

<nav class="navbar ee-navbar round-0" id="navbar-top" ng-class="{ 'navbar-transparent': transparent, 'box-shadow': !transparent, 'navbar-fixed-top': fixed, 'navbar-absolute-top': !fixed }">
  <div class="container-fluid">
    <div class="margin-7">

      <!-- LOGO -->
      <!-- normal logo -->
      <a ng-hide="dropdown || back || product || selection" ui-sref="landing" id="brand" class="pull-left">
        <img ng-show="transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png" class="width-120"/>
        <img ng-hide="transparent" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png" class="width-120"/>
      </a> <!-- /normal logo -->

      <!-- dropdown: dropdown instead of logo -->
      <div ng-if="dropdown" id="dropdown" class="pull-left">
        <div class="inline-block position-relative" dropdown>
          <div class="hover-pointer" dropdown-toggle>
            <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432578504/eeosk_blue.png" class="width-120"/>
            <i class="caret"></i>
          </div>
          <ul class="dropdown-menu" style="top: 37px; left: -5px;">
            <li class="visible-xs"><a href="https://{{ ee.user.username }}.eeosk.com" target="_blank"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-external-link"></i>&nbsp;&nbsp;Live</h4></a></li>
            <li><a href ng-click="feedback()"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-comment-o"></i>&nbsp;&nbsp;Feedback</h4></a></li>
            <li><a ui-sref="orders"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
            <li><a ui-sref="account"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
            <li class="divider"></li>
            <li><a ui-sref="logout"><h4 class="vert-5 font-weight-200"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
          </ul>
        </div>
      </div> <!-- /dropdown -->

      <!-- back: back instead of logo -->
      <a ng-if="back" ui-sref="storefront" id="back" class="btn btn-default pull-left">
        <i class="fa fa-fw fa-home"></i>
      </a> <!-- /back -->

      <!-- product: back to catalog instead of logo -->
      <a ng-if="product" ui-sref="products" id="products" class="btn btn-default pull-left">
        <i class="fa fa-fw fa-long-arrow-left"></i>
      </a> <!-- /product -->

      <!-- product: back to my store instead of logo -->
      <a ng-if="selection" ui-sref="selections" id="selections" class="btn btn-default pull-left">
        <i class="fa fa-fw fa-long-arrow-left"></i>
      </a> <!-- /product -->

      <!-- /LOGO -->

      <!-- signin: sign in button -->
      <div ng-if="signin" class="pull-right" role="form">
        <a ui-sref="login"
           class="btn btn-success"
           analytics-on
           analytics-category="user-management"
           analytics-event="signin">
          Sign in
        </a>
      </div> <!-- /signin -->

      <!-- storefront: buttons on storefront page -->
      <div ng-if="storefront" class="storefront-buttons">
        <div class="position-fixed text-center">
          <div ui-sref="products" class="btn btn-info">Products</div>&nbsp;<a ui-sref="edit" class="btn btn-success">Edit</a>
        </div>
        <a class="btn btn-link pull-right hidden-xs" href="https://{{ ee.user.username }}.eeosk.com" target="_blank">
          Live&nbsp;<i class="fa fa-fw fa-external-link"></i>
        </a>
      </div> <!-- /storefront -->

      <!-- save: show save button -->
      <div ng-if="save">
        <div class="position-fixed" style="top: 7px; left: 67px;">
          <!-- <div ng-click="catalog()" class="btn btn-primary">Save</div> -->
          <ee-save></ee-save>
        </div>
      </div> <!-- /save -->

    </div>
  </div>
</nav>
