<div class="pad-5 product-container">
  <a class="product" ui-sref="product({ id: product.id, title: (product.title | urlText) })">
    <img ng-src="{{ product.image | cloudinaryResizeTo:250:250 }}" class="img-responsive full-width">
    <h5 class="product-title vert-5 text-dark-blue font-weight-200" ng-bind="product.title"></h5>
  </a>
  <a ng-if="product.discounted" ui-sref="sale({ id: product.discounted })" class="btn btn-themed btn-arrow">Sale</a>
  <div class="vert-5">
    <h4 class="inline-block vert-0 text-dark-gray" ng-bind="product.prices | priceRange"></h4>
    <h5 class="inline-block vert-0 text-muted font-weight-200" ng-if="product.msrps && product.msrps.length == 1 && product.msrps[0] > product.prices[0]">&nbsp;<s>{{ product.msrps | priceRange }}</s></h5>
  </div>
  <a ui-sref="search({ q: product.title, c: product.category_id })" class="text-muted">
    <small class="hover-pointer"><i class="fa fa-fw fa-search"></i>more like this</small>
  </a>
</div>
