<!-- STOREPRODUCT CARD -->
<div class="well white-background max-width-900 box-shadow margin-0-auto text-left">
  <div class="container-fluid vert-10">
    <div class="row">
      <div class="col col-sm-6 max-height-600">
        <ee-product-images product="storeProduct"></ee-product-images>
      </div>
      <div class="col col-sm-6">
        <div class="pad-10">
          <h1 ng-bind="storeProduct.title" class="vert-10 margin-top-0 font-weight-200"></h1>
          <h3 ng-bind="(price || storeProduct.selling_price) | centToDollar"></h3>
          <h4 ng-bind="storeProduct.content" class="vert-20 font-weight-200" style="white-space: pre-line;"></h4>
          <div class="btn btn-lg btn-block" ng-disabled="disabled" ng-class="disabled ? 'btn-default' : 'btn-primary'" ng-if="!storeProduct.out_of_stock && !storeProduct.discontinued" ng-click="addToCart()">Add to cart</div>
          <div class="btn btn-info btn-lg btn-block disabled" ng-if="storeProduct.out_of_stock" disabled>Out of Stock</div>
          <div class="btn btn-info btn-lg btn-block disabled" ng-if="storeProduct.discontinued" disabled>Discontinued</div>
          <div class="btn btn-link pad-0 vert-20" ng-click="showDetails = !showDetails">{{ showDetails ? 'hide' : 'more' }} details</div>
        </div>
      </div>
    </div>
    <div ng-show="showDetails" class="row vert-20">
      <div class="col col-sm-12">
        <table class="table table-condensed table-striped table-bordered white-background">
          <tr ng-if="product.content_meta.item_name">
            <td>Item</td>
            <td ng-bind="product.content_meta.item_name"></td>
          </tr>
          <tr ng-if="product.shipping_price">
            <td>Shipping Cost</td>
            <td ng-bind="product.shipping_price | centToDollar"></td>
          </tr>
          <tr ng-if="product.content_meta.brand_name">
            <td>Brand Name</td>
            <td ng-bind="product.content_meta.brand_name"</td>
          </tr>
          <tr ng-if="product.content_meta.manufacturer">
            <td>Manufacturer</td>
            <td ng-bind="product.content_meta.manufacturer"></td>
          </tr>
          <tr ng-if="product.content_meta.condition">
            <td>Condition</td>
            <td ng-bind="product.content_meta.condition"></td>
          </tr>
          <tr ng-if="product.content_meta.warranty">
            <td>Warranty</td>
            <td ng-bind="product.content_meta.warranty"></td>
          </tr>
          <tr>
            <td>Supply Description</td>
            <td>
              {{ product.title }}
              <br>
              {{ product.content }}
            </td>
          </tr>
          <tr ng-if="product.content_meta.details">
            <td>Details</td>
            <td ng-bind-html="product.content_meta.details | unboldHtml"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /STOREPRODUCT CARD -->
