<style ng-if="user.storefront_meta.brand.color">
  .alert-themed {
    background-color: {{ user.storefront_meta.brand.color.tertiary }};
    border-color: {{ user.storefront_meta.brand.color.tertiaryAccent }};
    color: {{ user.storefront_meta.brand.color.secondaryAccent }};
  }
</style>
<div class="full-width alert alert-themed text-center round-0 pad-5 no-side-border"
  style="font-weight: bold; font-size: 14px; margin: 0 0 4px;">
  Free Shipping on orders over $50
  <!-- offer -->
  <div ng-if="user.username == 'stylishrustic'" class="text-center vert-2">
    <div ng-click="openOfferModal()"
      class="btn btn-sm btn-themed alert-themed pad-2"
      style="text-shadow: none; border-bottom-width: 1px !important;">
      &nbsp;&nbsp;<i class="fa fa-fw fa-envelope-o"></i>&nbsp;Join our list for exclusive offers&nbsp;&nbsp;
    </div>
  </div>
  <!-- /offer -->
</div>
