<!-- PRODUCT CARD -->
<div class="well white-background max-width-900 box-shadow margin-0-auto text-left">
  <div class="container-fluid vert-10">
    <div class="row">
      <div class="col col-sm-6 max-height-600">
        <img ng-src="{{ mainImage }}" class="full-width" name="mainImage">
        <!-- images -->
        <div ng-show="details.image_meta.additional_images.length > 0" class="vert-5">
          <img ng-src="{{ details.image_meta.main_image.url | thumbnail }}"
               class="inline-block width-62 gray-border hover-pointer margin-2"
               ng-click="setMainImage(details.image_meta.main_image.url)" />
          <img ng-repeat="img in details.image_meta.additional_images"
               ng-src="{{ img.url | thumbnail }}"
               class="inline-block width-62 gray-border hover-pointer margin-2"
               ng-click="setMainImage(img.url)" />
        </div>
      </div>
      <div class="col col-sm-6">
        <div class="pad-10">
          <h1 ng-bind="title" class="vert-10 margin-top-0 font-weight-200"></h1>
          <h3 ng-bind="price | centToDollar"></h3>
          <h4 ng-bind="content" class="vert-20 font-weight-200" style="white-space: pre-line;"></h4>
          <div class="btn btn-primary btn-lg btn-block" ng-disabled="disabled" ng-click="addToCart()">Add to cart</div>
          <div class="btn btn-link pad-0 vert-20" ng-click="showDetails = !showDetails">{{ showDetails ? 'hide' : 'more' }} details</div>
        </div>
      </div>
    </div>
    <div ng-show="showDetails" class="row vert-20">
      <div class="col col-sm-12">
        <table class="table table-condensed table-striped table-bordered white-background">
          <tr ng-if="details.content_meta.item_name">
            <td>Item</td>
            <td ng-bind="details.content_meta.item_name"></td>
          </tr>
          <tr ng-if="details.availability_meta.quantity">
            <td>Quantity Available</td>
            <td ng-bind="details.availability_meta.quantity | truncateQty"></td>
          </tr>
          <tr ng-if="details.shipping_price">
            <td>Shipping Cost</td>
            <td ng-bind="details.shipping_price | centToDollar"></td>
          </tr>
          <tr ng-if="details.content_meta.brand_name">
            <td>Brand Name</td>
            <td ng-bind="details.content_meta.brand_name"</td>
          </tr>
          <tr ng-if="details.content_meta.manufacturer">
            <td>Manufacturer</td>
            <td ng-bind="details.content_meta.manufacturer"></td>
          </tr>
          <tr ng-if="details.content_meta.condition">
            <td>Condition</td>
            <td ng-bind="details.content_meta.condition"></td>
          </tr>
          <tr ng-if="details.content_meta.warranty">
            <td>Warranty</td>
            <td ng-bind="details.content_meta.warranty"></td>
          </tr>
          <tr>
            <td>Supply Description</td>
            <td>
              {{ details.title }}
              <br>
              {{ details.content }}
            </td>
          </tr>
          <tr ng-if="details.content_meta.details">
            <td>Details</td>
            <td ng-bind-html="details.content_meta.details | unboldHtml"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /PRODUCT CARD -->

<!-- <pre class="text-left">
  {{ details | json }}
</pre> -->
