<div class="well white-background box-shadow text-left" ng-hide="storeProduct.removed">

  <!-- COMPACT -->
  <div class="row" ng-show="!expanded">
    <div class="col col-sm-7 hover-pointer" ng-click="expand()">
      <div class="media">
        <div class="media-left">
          <a href>
            <img class="media-object" ng-src="{{ storeProduct.image | thumbnail }}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading margin-0 font-weight-200">
            <a href>{{ storeProduct.title }} <i class="fa fa-fw fa-pencil"></i></a>
          </h4>
          <div ng-if="storeProduct.msrp && storeProduct.msrp > storeProduct.selling_price">
            <s class="text-muted" ng-if="storeProduct.msrp">{{ storeProduct.msrp | centToDollar }}</s>
            <span class="text-danger" ng-if="calculated.msrpDiscount">{{ calculated.msrpDiscount | percentage:0 }} Off</span>
          </div>
          <div>
            <strong ng-bind="storeProduct.selling_price | centToDollar"></strong>
            <div class="btn btn-link btn-xs"><i class="fa fa-fw fa-pencil"></i>&nbsp;edit</div>
          </div>
          <div class="text-muted">You earn <span ng-bind="calculated.earnings | centToDollar"></span> each sale.</div>
        </div>
      </div>
    </div>
    <div class="col col-sm-5 text-right">
      <div ng-if="storeProduct.featured" class="btn btn-info" ng-click="unfeature()" ng-disabled="save_status == 'Saving'"><i class="fa fa-times"></i>&nbsp;&nbsp;Featured</div>
      <div ng-if="!storeProduct.featured" class="btn btn-default" ng-click="feature()" ng-disabled="save_status == 'Saving'">Add to featured</div>
      &nbsp;
      <div ng-click="removeStoreProduct()" ng-disabled="save_status == 'Removing'" class="btn btn-default"><i class="fa fa-trash"></i></div>
    </div>
  </div>
  <!-- COMPACT -->

  <!-- EDITOR CARD -->
  <div class="row" ng-show="expanded">
    <div class="col col-sm-3">
      <ee-product-images product="storeProduct"></ee-product-images>
    </div>
    <div class="col col-sm-9">
      <form class="form-horizontal text-left" ng-submit="updateStoreProduct()">
        <!-- Save -->
        <div class="form-group vert-5">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" ng-disabled="save_status == 'Saving'" ng-class="{ 'btn-success': saved != true }">
              <i class="fa fa-fw fa-save"></i>&nbsp;{{ save_status }}
            </button>
          </div>
        </div>
        <!-- /Save -->
        <!-- Title -->
        <div class="form-group vert-5">
          <label class="col-sm-2 control-label font-weight-200">Title</label>
          <div class="col-sm-10">
            <input type="text" ng-model="storeProduct.title" class="form-control" placeholder="Product Title (required)">
            <a href="https://www.google.com/search?q={{ storeProduct.title | pluses }}" target="_blank" class="btn btn-xs btn-link pad-left-0">Search this title on google</a>
          </div>
        </div>
        <!-- /Title -->
        <!-- Price -->
        <div class="form-group vert-5">
          <label class="col-sm-2 control-label font-weight-200">Price</label>
          <div class="col-sm-10">
            <div class="vert-10 margin-top-0">
              <div class="inline-block" style="max-width: 170px;">
                <div class="input-group">
                  <span class="input-group-addon white-background"><i class="fa fa-fw fa-dollar"></i></span>
                  <input type="text" ng-model="calculated.selling_dollars" class="form-control inline-block text-right">
                  <span class="input-group-addon pad-5 white-background no-side-border">.</span>
                  <input type="text" ng-model="calculated.selling_cents" class="form-control inline-block" style="width: 50px;">
                </div>
              </div>
              <div class="inline-block vertical-align-top pad-5" ng-if="storeProduct.msrp && storeProduct.msrp > storeProduct.selling_price">
                <s class="text-muted" ng-if="storeProduct.msrp">{{ storeProduct.msrp | centToDollar }}</s>
                <span class="text-danger" ng-if="calculated.msrpDiscount">{{ calculated.msrpDiscount | percentage:0 }} Off MSRP</span>
              </div>
            </div>
            <div ng-show="calculated.margin > margins.max_margin || calculated.margin < margins.min_margin" class="text-info">
              Price is out of range
            </div>
            <div ng-hide="calculated.margin > margins.max_margin || calculated.margin < margins.min_margin" class="text-muted">
              {{ calculated.margin * 100 | number:1 }}%&nbsp;margin. You earn&nbsp;<strong ng-bind="calculated.earnings | centToDollar"></strong>&nbsp;each sale.
            </div>
            <div class="vert-5 margin-top-0">
              <div class="btn btn-xs btn-link pad-left-0" ng-click="setSellingPrice(storeProduct.regular_price)">Recommended</div>
              <div class="btn btn-xs btn-link" ng-click="setSellingPrice(calculated.min_price)">Min</div>
              <div class="btn btn-xs btn-link" ng-click="calcByMargin(margin)" ng-repeat="margin in margins.margin_array">{{ margin*100 }}%</div>
            </div>
          </div>
        </div>
        <!-- /Price -->
        <!-- Description -->
        <div class="form-group vert-5">
          <label class="col-sm-2 control-label font-weight-200">Description</label>
          <div class="col-sm-10">
            <textarea type="text" ng-model="storeProduct.content" class="form-control full-width" rows=5 placeholder="Product Description"></textarea>
          </div>
        </div>
        <!-- /Description -->
      </form>
    </div>
  </div>
  <!-- /EDITOR CARD -->

</div>
