<!-- Desktop nav -->
<div class="position-relative hidden-xs" style="z-index: 5;">
  <!-- blocker -->
  <div ng-show="blocked" class="navbar position-absolute margin-0" style="z-index: 2005; top: 0; left: 0; right: 0; height: 140px;"></div>
  <!-- /blocker -->

  <nav id="navtop"
       class="navbar store-navbar navbar-default white-background border-none margin-0 pad-0 round-0"
       ng-hide="loading">

    <div ng-class="fluid ? 'container-fluid' : 'container'" name="store-navbar">

      <div class="row position-relative margin-bottom-0">

        <div class="brand-area position-absolute">
          <!-- Logo -->
          <ee-storefront-logo ng-if="meta" meta="meta"></ee-storefront-logo>
          <!-- /Logo -->
        </div>
        <div class="activity-area position-absolute">
          <div>
            <!-- Search -->
            <form class="form-group input-group margin-0" ng-submit="search()">
              <input type="text" class="form-control full-width-important" placeholder="Search for products" ng-model="query" style="box-shadow: none; padding: 18px 20px;">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" style="padding: 8px 20px;">Search&nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>
              </span>
            </form>
            <!-- /Search -->
          </div>
          <div class="full-width text-right pad-5 vert-5 vertical-align-middle">
            <!-- social media -->
            <a ng-repeat="site in ['facebook','pinterest','twitter','instagram']"
              ng-if="meta.audience.social[site]"
              href="https://{{ site }}.com/{{ meta.audience.social[site] }}" target="_blank"
              class="link-muted text-{{ site }} no-underline margin-2 margin-top-0 margin-bottom-0">
              <i class="fa fa-{{ site }} vertical-align-middle"></i>
            </a>
            <!-- /social media -->
            <!-- blog -->
            <a ng-if="meta.blog.url" href="{{ meta.blog.url | addHttp }}" target="_blank" class="text-muted margin-5 margin-top-0 margin-bottom-0">blog</a>
            <!-- /blog -->
            <!-- cart -->
            <a ui-sref="cart" class="text-muted">
              <span ng-if="quantityArray && quantityArray.length > 0" class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x white-color"><strong ng-bind="quantityArray.length"></strong></i>
              </span>
              <i ng-if="!quantityArray || quantityArray.length < 1" class="fa fa-2x fa-fw fa-shopping-cart vertical-align-middle" style="margin-right: 3px;"></i>cart
            </a>
            <!-- /cart -->
          </div>
        </div>

      </div>

    </div>
  </nav>
</div>
<!-- /Desktop nav -->

<!-- Desktop Subnav -->
<nav class="navbar navbar-default round-0 margin-0 no-side-border hidden-xs"
  ng-style="{ 'background-color': meta.brand.color.secondary }">
  <div class="container">
    <ul class="nav navbar-nav">
      <li ng-repeat="category in categories">
        <a ui-sref="category({ id: category.id, title: (category.title | urlText) })"
          ng-bind="category.title"
          ng-style="{ color: meta.brand.color.tertiary }">
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- /Desktop Subnav -->

<!-- Mobile nav -->
<nav class="navbar navbar-default white-background round-0 margin-0 no-side-border text-center visible-xs">
  <div class="margin-7">
    <a href ng-click="sidenavOpen = true" class="pad-5 pull-left inline-block text-muted">
      <i class="fa fa-fw fa-2x fa-bars"></i>
    </a>
    <ee-storefront-logo ng-if="meta" meta="meta" mobile="true"></ee-storefront-logo>
    <a ui-sref="cart" class="pad-5 pull-right inline-block text-muted">
      <i class="fa fa-fw fa-2x fa-shopping-cart"></i>
    </a>
  </div>
</nav>
<div class="visible-xs white-background pad-5 border-bottom-gray">
  <form class="margin-0" ng-submit="search()">
    <input type="text" class="form-control" placeholder="Search for products" ng-model="query">
  </form>
</div>
<!-- /Mobile nav -->

<!-- Mobile Sidenav -->
<!-- closer -->
<div ng-show="sidenavOpen" ng-click="sidenavOpen = false"
  class="position-fixed top-left-bottom-right-0 white-background opacity-05 hover-pointer"
  style="z-index: 3090"></div>
<!-- /closer -->
<div class="position-fixed transition-400 box-shadow white-background visible-xs"
  style="top: 0; bottom: 0; width: 250px; overflow-y: scroll; z-index: 4000"
  ng-style="{ left: (sidenavOpen ? 0 : '-250px') }">
  <div class="position-relative full-width">
    <nav class="navbar navbar-default round-0 margin-0 no-side-border text-center"
      ng-style="{ 'background-color': meta.brand.color.secondary }">
      <div class="margin-7">
        <a href ng-click="sidenavOpen = false" class="pad-5 pull-right inline-block text-muted">
          <i class="fa fa-fw fa-2x fa-times" ng-style="{ color: meta.brand.color.tertiary }"></i>
        </a>
      </div>
    </nav>
    <div class="pad-20 pad-top-0">
      <ul class="nav navbar-nav">
        <!-- categories -->
        <li ng-repeat="category in categories">
          <a ui-sref="category({ id: category.id, title: (category.title | urlText) })"
            class="text-muted"
            ng-bind="category.title">
          </a>
        </li>
        <!-- /categories -->
        <li ng-if="collections.length > 0">
          <hr class="vert-5">
        </li>
        <!-- collections -->
        <li ng-repeat="collection in collections">
          <a ui-sref="collection({ id: collection.id, title: (collection.title | urlText) })"
            class="text-muted"
            ng-bind="collection.title">
          </a>
        </li>
        <!-- /collections -->
        <li ng-if="collections.length > 0">
          <hr class="vert-5">
        </li>
        <!-- blog -->
        <li ng-if="meta.blog.url">
          <a href="{{ meta.blog.url | addHttp }}" target="_blank" class="text-muted">Blog</a>
        </li>
        <!-- /blog -->
        <li ng-if="meta.blog.url">
          <hr class="vert-5">
        </li>
        <!-- social media -->
        <li>
          <div class="pad-10">
            <a ng-repeat="site in ['facebook','pinterest','twitter','instagram']"
              ng-if="meta.audience.social[site]"
              href="https://{{ site }}.com/{{ meta.audience.social[site] }}" target="_blank"
              class="link-muted text-{{ site }} no-underline margin-2 margin-top-0 margin-bottom-0">
              <i class="fa fa-fw fa-2x fa-{{ site }} vertical-align-middle"></i>
            </a>
          </div>
        </li>
        <!-- /social media -->
      </ul>
    </div>
  </div>
</div>
<!-- /Mobile Sidenav -->

<!-- scrollToTop -->
<div ng-if="showScrollToTop" ee-scroll-to-top class="position-fixed round-50-pct text-center pad-2 transition-400"
  style="right: 24px; width: 44px; height: 44px; z-index: 3020; opacity: 0.9;"
  ng-style="{ 'background-color': meta.brand.color.secondary, bottom: showScrollButton ? '24px' : '-200px' }">
  <i class="fa fa-3x fa-chevron-circle-up" ng-style="{ color: meta.brand.color.tertiary }"></i>
</div>
<!-- /scrollToTop -->
