<style>
  ee-web-colorpicker .dab {
    width: {{ '' + dabDimension + 'px;' }}
    height: {{ '' + dabDimension + 'px;' }}
  }
  ee-web-colorpicker .dab-row { height: {{ '' + (dabDimension - 3) + 'px;' }}}
</style>
<div class="transition-200" style="min-width: 354px; overflow-y: hidden;" ng-style="{ 'max-height': !!compress ? '60px' : '1000px' }">
  <div class="text-left max-width-300 margin-5 margin-top-0">
    <div ng-if="dabPrimary" ng-click="setRank(1)" class="inline-block vertical-align-middle round-50-pct margin-5 margin-left-0 hover-pointer transition-200" style="width: 50px; height: 50px; border: 1px solid #AAA;" ng-style="{ 'background-color': dabPrimary, 'box-shadow': !compress && rank == 1 ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none' }"></div>
    <div ng-if="dabSecondary" ng-click="setRank(2)" class="inline-block vertical-align-middle round-50-pct margin-5 margin-left-0 hover-pointer transition-200" style="width: 50px; height: 50px; border: 1px solid #AAA;" ng-style="{ 'background-color': dabSecondary, 'box-shadow': !compress && rank == 2 ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none' }"></div>
    <div ng-if="dabTertiary" ng-click="setRank(3)" class="inline-block vertical-align-middle round-50-pct margin-5 margin-left-0 hover-pointer transition-200" style="width: 50px; height: 50px; border: 1px solid #AAA;" ng-style="{ 'background-color': dabTertiary, 'box-shadow': !compress && rank == 3 ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none' }"></div>
    <div class="btn btn-link" ng-hide="compress" ng-click="compress = true">close</div>
  </div>
  <div ng-repeat="row in rows" class="dab-row transition-200"
    ng-style="{ 'margin': '0 ' + row.offset*dabDimension +'px' }">
    <div ng-repeat="color in row.colors" ng-click="selectColor(color, true)"
      class="dab inline-block position-relative round-50-pct hover-pointer"
      ng-style="{ 'box-shadow': color == selected ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none', 'z-index': color == selected ? 3 : 2, 'background-color': color }">
    </div>
  </div>
  <br>
</div>
