<!-- <div class="btn-group btn-group-justified">
  <a ui-sref-active="active" ui-sref="storefront.home" class="btn btn-info btn-sm btn-block pad-5 round-0">Home</a>
  <a ng-class="{ active: $state.current.name == 'storefront-shop' }" ui-sref="storefront.shop({shopCategory: 'All'})" class="btn btn-info btn-sm btn-block pad-5">Shop</a>
  <a ui-sref-active="active" ui-sref="storefront.blog" class="btn btn-info btn-sm btn-block pad-5">Blog</a>
  <a ui-sref-active="active" ui-sref="storefront.about" class="btn btn-info btn-sm btn-block pad-5">About</a>
  <a ui-sref-active="active" ui-sref="storefront.audience" class="btn btn-info btn-sm btn-block pad-5 round-0">Social</a>
</div>

<div class="pad-10">

  <ee-save></ee-save>

  <hr class="vert-10">

  <ee-offscreen-storefront-home ng-if="$state.current.name == 'storefront.home'"></ee-offscreen-storefront-home>
  <ee-offscreen-storefront-shop ng-if="$state.current.name == 'storefront-shop'"></ee-offscreen-storefront-shop>
  <ee-offscreen-storefront-blog ng-if="$state.current.name == 'storefront.blog'"></ee-offscreen-storefront-blog>
  <ee-offscreen-storefront-about ng-if="$state.current.name == 'storefront.about'"></ee-offscreen-storefront-about>
  <ee-offscreen-storefront-audience ng-if="$state.current.name == 'storefront.audience'"></ee-offscreen-storefront-audience>
</div> -->
