<h5 class="margin-0">Social Media</h5>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></span>
  <input type="text" class="form-control" placeholder="Facebook" ng-model="user.storefront_meta.audience.social.facebook">
</div>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-pinterest"></i></span>
  <input type="text" class="form-control" placeholder="Pinterest" ng-model="user.storefront_meta.audience.social.pinterest">
</div>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></span>
  <input type="text" class="form-control" placeholder="Twitter" ng-model="user.storefront_meta.audience.social.twitter">
</div>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-instagram"></i></span>
  <input type="text" class="form-control" placeholder="Instagram" ng-model="user.storefront_meta.audience.social.instagram">
</div>

<br>

<h5 class="margin-0">Contact Email</h5>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
  <input type="text" class="form-control" placeholder="Email" ng-model="user.storefront_meta.audience.contact.email">
</div>
